        body {
            font-family: Arial, sans-serif;
            background: url(sp.jpeg);
            padding: 10PX;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .bay {
            display: flex;
            justify-content: center;
            
        }

        img{
            height: 20em;
            margin: 0em;
            border-radius: 8px;
            box-shadow: 5px 5px 5px black;
            max-width: 600px;

        }


        .container {
            background: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(27, 26, 26, 0.1);
        }
        input {
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        button {
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
        .result {
            margin-top: 20px;
        }